@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#1BF8FF , #3A669D);
  padding: 50px 0; 
}

body {
  font: 18px 'Roboto', sans-serif;
}

.overlay {
  position: fixed;
  width: 100%;
  height: calc(100vh + 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.overlay button {
  min-width: 200px;
  min-height: 50px;
  background: #44A742;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 20px;
  cursor: pointer;
  transition: background 300ms;
}

.overlay button:hover {
  background: #71CE70;
}

.overlay .success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 35px;
  text-shadow: 0 0 10px #000;
  margin: 0;
}

.overlay .success-message strong {
  color: #44A742;
  font-size: 80px;
  margin-bottom: 20px;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 1090px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.help {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

@media screen and (max-width: 1090px) {
  .help {
    margin: 0 0 50px;
  }
}

.help .preview {
  width: 300px;
  height: 195px;
  background: url('https://jpimg.com.br/uploads/2017/11/mario-bros_.jpg') no-repeat center;
  background-size: contain;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

.help .instructions {
  position: relative;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);
  color: #4c4c4c;
  font-size: 16px;
  text-align: center;
  padding: 30px 15px 15px;
  margin-top: 50px;
}

.help .instructions strong {
  position: absolute;
  background: #44A744;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  top: calc(0% - 21px);
  left: 10px;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  justify-content: space-between;
  transition: all 300ms;
}

.container.playing {
  width: 600px;
  height: 600px;
}

.container .piece {
  position: relative;
  width: 125px;
  height: 125px;
  background: url('https://jpimg.com.br/uploads/2017/11/mario-bros_.jpg') no-repeat;
  background-size: 500px 500px;
  background-position-x: calc(-125px * calc(var(--c) - 1));
  background-position-y: calc(-125px * calc(var(--r) - 1));
  cursor: pointer;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.5));
  transition: all 300ms;
}

.container .piece.selected {
  opacity: 0.5;
}

.container .piece::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  background: #ffac90;
  box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.5);
  top: 8px;
  right: -15px;
  transform: skewY(45deg);
}

.container .piece::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  background: #AD4A29;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
  bottom: -15px;
  left: 8px;
  transform: skewX(45deg);
}